@model CarrinhoCompraViewModel


@if(Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0) {
    
    <a asp-controller="CarrinhoCompra" asp-action="Index">
       <span class="image"><i class="glyphicon glyphicon-trash"></i></span>
        <span style="color:white">
            @Model.CarrinhoCompra.CarrinhoCompraItems.Count
        </span>

    </a>
}
