<div class="container">
    <img src="~/images/faleConosco.png" alt="Fale Conosco" />
    <div class="jumbotrom">
        <h3>Queremos ouvir o que voce tem a dizer</h3>
        <p>
            Se voce estiver alguma dúvida ou sugestão, fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/envelope.png" />
            </span>
            <h5><email endereco="guga10machado@hotmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone.png" />
            </span>
            <h5>(51) 98538-9986</h5>
            <br />
            <span>
                <img src="~/images/home.jpg" />
            </span>
            <h5>Rua Oliveira Viana, 491 - 92299-730 - Canoas/RS</h5>
        </p>
    </div>



</div>

